<h1>My Deals (I rent somebody elses item)</h1>
<% @deals.each do |deal| %>
<% if deal.user == current_user %>
  <h3>item: <%= deal.item.name %></h3>
  <p>from: <%= deal.item.user.first_name %> <%= deal.item.user.last_name %></p>
  <hr>
<% end %>
<% end %>

<h1>My Deals (I own the rented item)</h1>
<% @deals.each do |deal| %>
<% if deal.item.user == current_user %>
  <h3>item: <%= deal.item.name %></h3>
  <p>to: <%= deal.user.first_name %> <%= deal.user.last_name %></p>
  <hr>
<% end %>
<% end %>

<%= link_to "Return to root", root_path, class: "btn btn-danger" %>

<!--
fields : date_start, :date_end, :user_id, :item_id
 -->
