<h1>My Deals (I rent somebody elses item)</h1>
<% empty_flag = true %> <!-- Checks whether the iteration found nothing -->
<% @deals.each do |deal| %>
<% if deal.user == current_user %>
  <% empty_flag = false %>
  <h3>item: <%= deal.item.name %></h3>
  <p>from: <%= deal.item.user.first_name %> <%= deal.item.user.last_name %></p>
  <p style="color: red;">price: - &#8364;<%= deal.item.price %> / day</p>
  <hr>
<% end %>
<% end %>
<% if empty_flag %>
  <p>Currently no ongiong deals</p>
<% end %>

<h1>My Deals (I own the rented item)</h1>
<% empty_flag = true %> <!-- Checks whether the iteration found nothing -->
<% @deals.each do |deal| %>
<% if deal.item.user == current_user %>
  <% empty_flag = false %>
  <h3>item: <%= deal.item.name %></h3>
  <p>to: <%= deal.user.first_name %> <%= deal.user.last_name %></p>
  <p style="color: green;">price: + &#8364;<%= deal.item.price %></p>
  <hr>
<% end %>
<% end %>
  <% if empty_flag %>
  <p>Currentyl no ongiong deals</p>
<% end %>

<%= link_to "Back Home", root_path, class: "btn btn-warning" %>

<!--
fields : date_start, :date_end, :user_id, :item_id
 -->
