<div class="form-container">


  <div class="title-form">
  <h2>This is what you renting:</h2>
  </div>

  <div class="wrapper" style="margin-left: 15px;">

    <div class="cards">
      <% empty = true %>
      <% @items.each do |item| %>
        <% if item.user == current_user %>
        <% empty = false %>
        <p></p>
        <%= render 'shared/product_card', item: item %>

        <div class="align-btn">
            <span><%= link_to "Edit Item", edit_item_path(item), class: "btn btn-success" %></span>
            <% unless item.deals.present? %>
              <span><%= link_to 'Delete Item', item_path(item), class: "btn btn-warning",
              data: {:confirm => 'Are you sure?'}, :method => :delete %></span>
        </div>
              <% else %>
        <p></p>
          <span><%= link_to "On Deal", "#", class: "btn btn-warning disabled" %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if empty %>
<p style="margin-left: 2vh;">You are currently not offering any items</p>
<% end %>
  <div id="botton-bnt">
  <%= link_to "Back to list", items_path, class: "btn btn-warning" %>
  </div>
</div>

