<div class="product">
  <div class="product-description">
    <h3><%= @item.name %></h3>
    <p><%= @item.category %></p>
    <p><%= @item.description %></p>
    <p><strong>&#8364;<%= @item.price %> / day</strong></p>
    <p class="rent-link"><%= link_to "Rent Item", deal_new_path(@item), class: "btn btn-warning btn-lg"%></p>
  </div>
  <div class="product-image">
  </div>
</div>
