<!--
<h2>Displays the item and its properties</h2>
<h3><%= @item.name %></h3>
<img src="<%= @item.picture %>" alt="picture of <%= @item.name %>">
<p><%= @item.category %></p>
<p><%= @item.description %></p>
<p><strong><%= @item.price %></strong></p>
<%= link_to "Rent Item", new_item_deal_path(@item), class: "btn btn-success"%> -->



<!-- <div class="product">
  <div class="product-description">
    <h3><%= @item.name %></h3>
    <p><%= @item.category %></p>
    <p><%= @item.description %></p>
    <p><strong>&#8364;<%= @item.price %> / day</strong></p>
    <p class="rent-link"><%= link_to "Rent Item", new_item_deal_path(@item), class: "btn btn-warning btn-lg"%></p>
  </div>
  <div class="product-image">
  </div>
</div> -->

<!-- VERSION NLX -->
<div class="wrapper">
  <div class="cards" style="width: 50%">
    <div class="product-card">

      <h3><strong><%= @item.price %> €</strong></h3>

      <h2><%= @item.name %></h2>

      <p><%= @item.description %></p>

      <p></p>
      <span class="rent-link"><%= link_to "Rent Item", new_item_deal_path(@item), class: "btn btn-warning"%></span>
      <span class="rent-link"><%= link_to "back to list", items_path(@item), class: "btn btn-primary"%></span>
      <p></p>

      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 200px; height: 200px;">
      <p></p>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 200px; height: 200px;">
      <p></p>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 200px; height: 200px;">
      <p></p>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 200px; height: 200px;">
      <p></p>

    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
