<h2>Displays the item and its properties</h2>
<h3><%= @item.name %></h3>
<!-- This looks strange because of the faker, should be ok in the end -->
<img src="<% @item.picture %>" alt="picture of <% @item.name %>">
<p><%= @item.category %></p>
<!-- This looks strange because of the faker, should be ok in the end -->
<p><%= @item.description %></p>
<p><strong><%= @item.price %></strong></p>
<%= link_to "Rent Item", new_deal_path, class: "btn btn-success"%>
