
<div class="product">
  <div class="product-description">
    <h3><%= @item.name %></h3>
    <p><%= @item.category %></p>
    <p><%= @item.description %></p>
    <p><strong>&#8364;<%= @item.price %> / day</strong></p>


<div class="review">
<% @item.reviews.each do |review| %>
  <p><section class="card__avatar">
    <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
  <%= review.creator || "no user assigned" %></p>
    </section>
  <p>Review: <%= review.comment %></p>
  <p>Rating: <%= review.rating %></p>
<% end %>
  <p class="rent-link"><%= link_to "Rent Item", deal_new_path(@item), class: "btn btn-warning btn-lg"%>
  <%= link_to "Go Back", items_path, class: "btn btn-warning btn-lg" %>
  <%= link_to "Add a review", new_item_review_path(@item), class: "btn btn-warning btn-lg" %>
  </p>
</div>

  </div>

  <div class="product-image">
  </div>
</div>

